[Unit]
Description=julius action service

[Service]
EnvironmentFile=/etc/conf.d/julius-actions.conf
Type=forking
ExecStart=/usr/bin/julius-actions -a $ACTIONS -c $CONFIG
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
